<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django channels WEBRTC</title>
</head>
<body>
    <h3 id="label-username">
        USERNAME</h3>
    <div>
        <input id="username" type="text"/><button id="btn-join">JOIN Room</button>
    </div>
<div class="main-grid-container">
    <div id="video-container">
        <div>
            <video id="local-video" style="float: left;" autoplay playsinline></video>
        </div>
        <button id="btn-toogle-audio">Audio Mute</button>
        <button id="btn-toogle-vid">video off</button>

    </div>
    <div id="chat">
        <h3>
            CHAT
        </h3>
        <div id="messages">
            <ul id="message-list">

            </ul>
        </div>
        <div><input id="msg" type="text"/><button id="btn-send-msg">send message</button></div>
        <button id="btn-share-screen">Share screen</button>
    </div>

</div>
<style>
    #video-container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        background-color: black;

    }
    .main-grid-container{
        display: grid;
        grid-template-columns: 60% 20%;

    }
    video{
        border-radius: 25%;
        border-color: black;


    }


</style>

</body>
<script src="{% static 'js/chat.js' %}">
</script>
</html>